table {
  border: 1px solid #333;
  border-collapse: collapse;
  margin: 20px auto;
  width: 780px;
}
td, th {
  border: 1px solid #ccc;
  padding: 6px;
  vertical-align: top;
}
h1 {
  margin: 8px 0;
  text-align: center;
}
fieldset {
  padding: 8px;
}
textarea {
  width: 100%;
  height: 110px;
}
button {
  width: 100%;
  padding: 6px;
  cursor: pointer;
}
.center {
  text-align: center;
}
